
/* Estilos globales */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

/* El resto de tus estilos... */

/* Estilos del Navbar */
.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar img {
  height: 40px;
}

.navbar .search-bar {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 4px;
  padding: 5px;
  width: 40%;
  margin: 0 auto; /* Centra el buscador */
}

.navbar .search-bar input {
  border: none;
  outline: none;
  background: transparent;
  padding: 5px;
  width: 100%;
}

.navbar .search-bar button {
  border: none;
  background: transparent;
  cursor: pointer;
  color: #e00047;
}

.navbar .location-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar .location-container > p {
  margin: 0;
  font-size: 12px;
  color: #666;
}

.navbar .location-select {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  padding: 0;
}

/* Estilos del carrusel */
.carousel-container {
  margin-top: 20px;
}

.slick-prev:before, .slick-next:before {
  color: #333; /* Cambia el color de los botones de navegación */
}

/* Estilos de la tarjeta de categoría */
.category-card {
  width: 150px; /* Ajusta el ancho según sea necesario */
  text-align: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Centra las tarjetas dentro del contenedor del carrusel */
}

.category-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* Contenedor de promociones */
.promotion-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 20px;
  overflow-x: auto;
  padding: 10px 0;
}

.promotion-banner {
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 450px; /* Aumenta significativamente el ancho */
  height: 140px; /* Reduce la altura para hacer la tarjeta menos alargada */
  cursor: pointer;
  transition: transform 0.2s;
}

.promotion-banner:hover {
  transform: scale(1.05);
}

.promotion-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
  border-radius: 8px; /* Redondea las esquinas de la imagen */
}
/* App.css */
/* En App.css o cualquier otro archivo CSS global */
.full-width-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.full-width-image {
  width: 100%;
  max-width: 100%;
  display: block;
  margin-bottom: -4px;
}
  