/* Footer.css */
.footer {
    background-color: #E30613; /* Color de fondo rojo */
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: relative; /* Cambia de fixed a relative */
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
  }
  